@tailwind base;
@tailwind components;
@tailwind utilities;

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    scroll-behavior: smooth;
}

.page1-h1{
    font-size: 47px;
    font-weight: 500;
    /* font-family: gilroy; */
}

.navbar_1 {

    box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
}

.dropdown {
    position: relative;
    display: inline-block;
}

.dropdown-content {
    margin-top: 20px;
    display: none;
    position: absolute;
    background-color: #f9f9f9;
    min-width: 240px;
    box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
    padding: 12px 16px;
    z-index: 1;


}

.dropdown-menu {
    justify-content: space-between;
    display: flex;

    margin-top: 20px;
    right: 1px;
    display: none;
    position: absolute;
    background-color: #f9f9f9;
    width: 50vw;
    box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
    padding: 12px 16px;


    z-index: 1;
}

.dropdown:hover .dropdown-menu {
    display: block;
    display: flex;

}

.dropdown-menu p {
    margin-top: 15px;
    padding-left: 10px;
    padding-right: 10px;
     padding-bottom: 10px; 
     font-weight: 400;
    text-align: start;
}

.dropdown:hover .dropdown-content {
    display: block;
}

.dropdown-content p {
    margin-top: 25px;
    font-weight: 400;
    text-align: center;
} 


.dropdown,
.dropdown-menu {
    position: relative;
    display: inline-block;
}

.dropdown-content,
.dropdown-menu {
    display: none;
    position: absolute;
    background-color: #f9f9f9;
    box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
    padding: 12px 16px;
    z-index: 1;
}

.dropdown-menu {
    justify-content: space-between;
    width: 50vw;
}

/* Media queries for responsiveness */
@media screen and (max-width: 768px) {
    .navbar_1 {
        background-image: none;
        /* remove background image on smaller screens if needed */
    }

    .nav {
        flex-direction: column;
        align-items: center;
    }

    .right {
        margin-left: 0;
        text-align: center;
    }

    .left {
        margin-right: 0;
        margin-top: 20px;
    }

    .dropdown:hover .dropdown-content,
    .dropdown:hover .dropdown-menu {
        display: block;
    }

    .dropdown-menu {
        width: 100%;
        /* Adjust the width for smaller screens */
    }

    .dropdown-menu p {
        margin-top: 15px;
        text-align: center;
    }

    .dropdown-menu .onemenu,
    .dropdown-menu .twomenu,
    .dropdown-menu .threemenu {
        flex-direction: column;
    }
}
/* this is right sec  */

.right2 img {

    height: auto;
    width: 40vw;
    background-position: right;
    margin-top: 40px;

}


.card_1 {
    display: flex;
    margin: auto;
    margin-top: 30px;
    width: 80vw;
    height: 400px;
    justify-content: space-between;
}

.card1 {
    width: 25vw;
    height: 400px;
    box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);

}

.card2 {
    width: 25vw;
    height: 400px;
    box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
}

.card3 {
    width: 25vw;
    height: 400px;
    box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
}

.img2 {
    overflow: hidden;
    margin: auto;
    margin-top: 20px;
    width: 250px;
    height: 250px;
}

.img2:hover {
    scale: 1.1;
    transition: ease-in-out 0.9s;


}

.main4 {
    display: flex;
    margin: auto;
    margin-top: 100px;

    width: 100%;
    /* padding:    0px 105px ; */
    height: 125px;
    justify-content: space-evenly;
}

.crt1 {
    width: 18vw;
    height: 125px;
    background-color: #fff;
    box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
    cursor: pointer;
}

.main6 {
    margin-left: 8%;
    display: flex;
    margin-top: 20px;

}

.left6 {
    width: 42vw;
    height: 70vh;
}

.left6 img {

    margin-top: 40px;

}

.right6 {
    width: 42vw;
    height: 70vh;
    /* background-color: rgb(139, 0, 118); */
}

.grid-container {
    display: grid;
    height: 400px;
    align-content: end;
    grid-template-columns: auto auto;
    gap: 25px;
    padding: 10px;
}

.grid-container>div {

    display: flex;
    gap: 15px;
    background-color: #fff;
    text-align: center;
    padding: 25px 0;
    font-size: 30px;
    box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
}

.grid-container p {

    color: rgb(3, 3, 88);
    font-size: large;
    font-family: gilroy;
    font-weight: 500;
}

.main7 {
    display: flex;
    width: 85vw;
    height: 70vh;
    margin: auto;
    margin-top: 10px;
}

.left7 {
    width: 42.5vw;
    height: 70vh;
}

.right7 {
    width: 42.5vw;
    height: 70vh;
}

.left7 h2 {
    word-spacing: 15px;

    border-bottom: 0.2px solid rgb(153, 147, 147);
    cursor: pointer;
}

/* main8 div */

.main8 {
    display: flex;
    width: 100%;
    padding: 40px 90px;
    margin-top: 20px;

}


.left8 img {
    background-position: center;
    background-size: cover;
    object-fit: cover;
    width: 75%;
}


.icon8 {
    font-size: 70px;
    color: blue;

}

.mid8 h1 {
    font-size: 20px;
    font-weight: 600;
    color: rgb(4, 4, 88);
    margin-top: 9px;

}

.mid8 p {
    opacity: 0.9;
    margin-top: 5px;
}

.right8 h1 {
    font-size: 20px;
    font-weight: 600;
    color: rgb(4, 4, 88);
    margin-top: 9px;

}

.right8 p {
    opacity: 0.9;
    margin-top: 5px;
}

/* // main9 /// */

.main9 {
    width: 100%;
    /* height: 100%; */
    margin-top: 10px;


}

.row-1 {
    margin-top: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 20px;
}

.main9-crd1 {

    margin-top: 15px;

    width: 400px;
    border-radius: 10px;
    height: 400px;
    gap: 5px;
    border-bottom: 3px solid rgb(44, 119, 217);
    /* background-color: rgb(42, 9, 73); */
    box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);

}

.icon9-1 {

    align-items: center;
    justify-content: center;
    display: flex;
    color: rgb(44, 119, 217);

    margin: auto;
    margin-top: 20px;
    font-size: 45px;
    border-radius: 5px;
}







.main9-crd2 {

    margin-top: 15px;

    width: 400px;
    border-radius: 10px;
    height: 400px;
    gap: 5px;
    border-bottom: 3px solid rgb(238, 104, 20);
    /* background-color: rgb(42, 9, 73); */
    box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);

}

.icon9-2 {

    align-items: center;
    justify-content: center;
    display: flex;
    color: rgb(238, 104, 20);

    margin: auto;
    margin-top: 20px;
    font-size: 45px;
    border-radius: 5px;
}


.main9-crd3 {

    margin-top: 15px;

    width: 400px;
    border-radius: 10px;
    height: 400px;
    gap: 5px;
    border-bottom: 3px solid rgb(28, 197, 70);
    /* background-color: rgb(42, 9, 73); */
    box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);

}

.icon9-3 {

    align-items: center;
    justify-content: center;
    display: flex;
    color: rgb(28, 197, 70);

    margin: auto;
    margin-top: 20px;
    font-size: 45px;
    border-radius: 5px;
}

/* row2/// */


.row-2 {
    margin-top: 5px;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 20px;
}




/* cards hover effcet */


.main9-crd1:hover {
    background-color: rgb(94, 112, 246);
    color: white;

    .icon9-1 {
        background-color: #f9f9f9;
    }

    .text-h1-1 {
        color: #f9f9f9;
    }

    .p-text-1 {
        color: #f9f9f9;
    }


}

.main9-crd2:hover {
    background-color: rgb(238, 104, 20);
    color: white;

    .icon9-2 {
        background-color: #f9f9f9;
    }

    .text-h1-2 {
        color: #f9f9f9;
    }

    .p-text-2 {
        color: #f9f9f9;
    }


}

.main9-crd3:hover {
    background-color: rgb(28, 197, 70);
    color: white;

    .icon9-3 {
        background-color: #f9f9f9;
    }

    .text-h1-3 {
        color: #f9f9f9;
    }

    .p-text-3 {
        color: #f9f9f9;
    }


}

/* // main-10 */


.main-10 {

    width: 100%;
    height: 100%;
    /* background-color: pink; */
}

.pricing_crd {
    width: 100%;
    display: flex;
    justify-content: space-evenly;
    padding: 30px;
    margin-top: 20px;

}

.pricing_crd .price_1 {
    width: 300px;
    height: 600px;
    border-radius: 5px;
    box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
    background-color: #fff;
    justify-content: space-between;

}

.dollar {
    display: flex;
    justify-content: center;
    /* align-items: center; */
}

.price-img1 img {
    margin: auto;
    padding-top: 15px;
    width: 230px;

}


.price_btn button {
    margin-top: 10px;
    border: 2px solid rgb(55, 55, 236);
}

.price_btn button:hover {
    background-color: rgb(55, 55, 236);
    color: #fff;
}

.price_1:hover {
    scale: 1.1;
    transition: ease-in-out 0.5s;
}

/* // main 11 part  */


.main_11 {
    width: 100%;
}

.portfolio_btn {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 30px;
    margin: 30px;
}

.portfolio_btn button {
    padding: 4px 12px;
    border-radius: 20px;
}

.portfolio_btn button:hover {

    border: 2px solid rgb(83, 83, 243);
    color: rgb(83, 83, 243);


}

.portfolio_btn .bt-1 {
    border: 2px solid rgb(83, 83, 243);

}

.all_card:hover {
    background-color: blueviolet;



}

/* portfolio section  */

.img__1:hover {
    scale: 1.1;
    transition: ease-in-out 0.9s;
    opacity: 60%;

}

/* // main 12  */

.main_12 {
    width: 100%;
    height: 100vh;
    padding: 20px 0px;
}

.team_crd {
    width: 100%;
    display: flex;
    justify-content: space-evenly;
    padding: 30px;
    margin-top: 20px;

}

.team_1 {
    width: 300px;
    height: 550px;
    border-radius: 5px;
    box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
    background-color: #fff;
    justify-content: space-between;
}

.team_1:hover {
    scale: 1.1;
    transition: ease-in-out 0.5s;

}

.team-img1 img {
    /* margin: auto; */
    /* padding-top: 15px; */
    width: 300px;
    border-radius: 5px;

}


/* main 13  */

.main_13 {
    width: 100%;

    height: 100vh;

}


.blog_1 {

    display: flex;
    margin-top: 20px;
    padding: 40px;
    justify-content: space-evenly;

}

.blog-1 {
    width: 450px;
    height: 550px;
    box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);

}

.blog-2 {
    width: 450px;
    height: 550px;
    box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);

}

.blog-3 {
    width: 450px;
    height: 550px;
    box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);

}



.blog-1:hover {
    cursor: pointer;

    .blog_img-1 {
        transform: rotate(2deg);
        scale: 1.1;
        transition: ease-in-out 0.5s;
        overflow: hidden;
    }

    .p_txt-1 {
        opacity: 0.6;
    }

    .h1_text-1 {
        color: rgb(63, 63, 239);
    }

}

.blog-2:hover {
    cursor: pointer;

    .blog_img-1 {
        transform: rotate(2deg);
        scale: 1.1;
        transition: ease-in-out 0.5s;
    }

    .p_txt-1 {
        opacity: 0.6;
    }

    .h1_text-1 {
        color: rgb(63, 63, 239);
    }

}

.blog-3:hover {
    cursor: pointer;

    .blog_img-1 {
        transform: rotate(2deg);
        scale: 1.1;
        transition: ease-in-out 0.5s;
    }

    .p_txt-1 {
        opacity: 0.6;
    }

    .h1_text-1 {
        color: rgb(63, 63, 239);
    }

}

/* contact section  */

.main_14 {
    width: 100%;
    /* height: 100vh; */
}

.main_contact {
    display: flex;
    gap: 20px;
    padding: 60px;
    margin-top: 15px;

}

.lft_contct {
    width: 50%;

}

.rgt_contct {
    width: 50%;
    background-color: hsl(204, 100%, 99%);
    box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
}

.left-top {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 15px;
    justify-content: space-evenly;
}

.lt-top {
    width: 300px;
    height: 225px;
    background-color: hsl(204, 100%, 99%);
        padding: 25px;
    box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);

}

.contact-icon {
    font-size: 40px;
    margin-top: 10px;
    margin-bottom: 10px;
    color: rgb(37, 37, 244);

}

.lt-top h1 {
    color: rgb(4, 4, 86);
    font-size: 25px;
    font-weight: 600;
    margin-top: 7px;

}

.lt-top p {
    margin-top: 5px;
}

.top-input {
    padding: 30px;
    display: flex;
    gap: 20px;


}

.top-input input {
    width: 300px;
    border: 1px solid rgb(148, 148, 147);
    height: 45px;
}

.mid_input {
    padding: 0px 30px;

}

.mid_input input {
    width: 620px;
    border: 1px solid rgb(148, 148, 147);
    height: 45px;
    outline: none;
}

.botom_input {
    padding: 20px 30px;

}

.botom_input input {
    width: 620px;
    border: 1px solid rgb(148, 148, 147);
    height: 200px;

}

.contact_btn {
    justify-content: center;
    align-items: center;
    display: flex;
}

.contact_btn button {

    padding: 12px 28px;
    background-color: rgb(62, 62, 252);
    border-radius: 5px;
    color: #f9f9f9;
}

.contact_btn button:hover {
    background-color: rgb(79, 79, 252);
}
.footer{
    display: flex;
    justify-content: center;
    align-items: center;
 width: 100%;
 height: 75px;
 background-color: rgb(209, 216, 216);

}


